/* Genel sayfa stili */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}


header div {
  display: flex;
  justify-content: center;
  gap: 20%;
  background-color: black;
  padding: 10px;
}

header a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

#about h2, #projects h2 {
  text-align: center;
  background-color: black;
  color: white;
  padding: 10px 30px;
  margin-top: auto;
}

#contact h2{
  text-align: center;
}

.Paragraf {
  text-indent: 30px;
}

.Titel {
  font-weight: bold;
}

.button-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25%;                /* butonlar arası boşluk */
  margin-top: 20px;        /* h2 ile arası */
}

.button-container button {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 15px;
  border: none;
  background-color: #0073e6;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-container button:hover {
  background-color: darkblue;
}

#contact {
  text-align: center;
  padding: 40px 30px;       /* üstten ve alttan boşluk */
  background-color: #f0f0f0; /* isteğe bağlı arka plan */
}

footer {
  text-align: center;
  margin-top: auto;
  padding: 15px 0;
  background-color: #222;
  color: white;
}
