body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  padding-top: 57px;
  background-color: #fffbe6;
}


header div {
  position: fixed; /* Header kismini yukariya sabitliyor */
  top: 0;
  width: 100%; /* Yaziyi tum genislige yayiyor */
  background: rgba(255, 87, 51, 0.7); 
  backdrop-filter: blur(7px); /* Headerin altindaki yaziyi bulanik hale getirir */
  display: flex;
  justify-content: center;
  gap: 20%;
  padding: 20px;
}

header div :hover {
  font-size: x-large;
}

header a {
  text-decoration: none;
  color: #ffffff; 
  font-weight: bold;
}

#about h2, #projects h2 {
  text-align: center;
  background-color: #ff5722;
  color: #ffffff; 
  padding: 10px 30px;
  margin-top: auto;
}

#contact h2 {
  text-align: center;
}

#projects li a:hover, #projects li:hover {
  color: #00bfa5; 
  font-size: large;
}

.Paragraf {
  text-indent: 30px;
}

.Titel {
  font-weight: bold;
  text-indent: 0%;
}

.button-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15%; /* butonlar arası boşluk */
  margin-top: 20px; /* h2 ile arası */
}

.button-container button {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 15px;
  border: none;
  background-color: #00bfa5; /* Canlı turkuaz */
  color: #ffffff; /* Beyaz yazı */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-container button:hover {
  background-color: #00796b;
}

#contact {
  text-align: center;
  padding: 40px 30px; /* üstten ve alttan boşluk */
  background-color: #fffbe6;
}

footer {
  text-align: center;
  margin-top: auto;
  padding: 15px 0;
  background-color: #1a1a2e;
  color: #ffffff;
}

table {
  width: 90%;
  border-collapse: collapse;/*Tablonun hucrelerinin birlikte olmasini sagliyor*/
  margin: 20px auto;/*Ustten 20 px bosluk ve sayfanin ortasina auto hizalar*/
  font-family: Arial, sans-serif;
}

th, td {
  border: 6px solid #555;
  padding: 10px;/*Hucre icindeki yazi ile kenarlik arasinda bosluk*/
  text-align: center;
}

th {
  background-color: #007BFF;
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Kod kutusu biçimi */
pre {
  background-color: #272822;
  color: #f8f8f2;
  width: 85%;
  margin: 10px auto;
  padding: 10px 40px;
  border-radius: 15px;
  font-family: Consolas, monospace;
  font-size: 15px;
  overflow-x: auto;
  line-height: 1.5;
}

@media (max-width: 800px) {
  pre {
    width: 95%;
    padding: 5px 10px;
    font-size: 13px;
    text-align: left;
    border-radius: 0;
  }
}

.logo-python {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%; /* Yuvarlak fotoğraf */
  display: block;
  margin: 20px auto;  /* Ortalar */
  border: 3px solid #4CAF50; /* İstersen rengini değiştirebilirsin */
}

code { /* Kucuk kod parcalari icin, bu tum <code> etkiliyor. */
  background-color: #272822;
  font-size: normal;
  color: #dcdcdc;
  padding: 0.5px 5px;
  border-radius: 6px;
  font-family: "Fira Code", monospace;
}
